*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


/* ----------navigation bar-------------- */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: white;
  border: 1px solid rgb(209, 190, 190);
    
}

.navlinks {
  display: flex;
  justify-content: space-around;
  width: 30%;
  
}
.navlinks li {
  list-style: none;
}
.navlinks li a {
  color: rgb(148, 141, 141);
  text-decoration: none;
  font-size: 13px;
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 2px; 
}
.navlinks li a:hover {
  color: black;
}
#vplan1 a {
  color: black;
  border: 2px solid black;
  padding: 8px 14px;
}
#vplan1 a:hover {
  color: white;
  border: 2px solid black;
  background-color: black;
  padding: 8px 14px;
}
.burger {
  display: none;
  border: 1.5px solid black;
}
.burger div {
  width: 20px;
  height: 3px;
  background-color: black;
  margin: 4px;
  transition: all 0.3s ease;
}

.design1 {
  display: none;
}
@media screen and (max-width: 1400px) {
  .navlinks {
    display: flex;
    justify-content: space-around;
    width: 50%;
    
  }
 
}

@media screen and (max-width : 800px){

 body {
   overflow-x: hidden;
 }
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow-x: hidden;
    

  }
  .navlinks {
    display: flex;
    flex-direction: column;
   position: absolute;
   height: 92vh;
   width: 100%;
   top: 8vh;
   background-color: hsl(23, 37%, 11%);
   align-items: center;
 
   transform: translateX(100%);
   transition: transform 0.5s ease-in;    
 }
 
 .navlinks li {
   opacity: 0;
   padding-top: 10px;
 

 }
 .navlinks li a {
   color: white;
   font-size: 20px;

 }
 #vplan1 a {
   color: white;
   font-size: 20px;
   border-color: white;
   padding: 15px 60px;
  

 }
 .burger {
   display: block;
 }


 .design1 {
   display: block;
   position: relative;
   z-index: 2;
   width: 100%;
   height: 50%;
   overflow-x: hidden;
   padding-top: 20%;
 }
}
.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px,5.5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px,-5.5px);
}



/* -----------------home-------------------- */