*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* ----------navigation bar-------------- */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: white;
  border: 1px solid rgb(209, 190, 190);
    
}

.navlinks {
  display: flex;
  justify-content: space-around;
  width: 35%;
  margin-right: -90px;
  
}

.navlinks li {
  list-style: none;
  width: 80;
}
.navlinks li a {
  color: rgb(148, 141, 141);
  text-decoration: none;
  font-size: 13px;
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 2px; 
}
.navlinks li a:hover {
  color: black;
}
#vplan1 a {
  color: black;
  border: 2px solid black;
  padding: 8px 14px;
}
#vplan1 a:hover {
  color: white;
  border: 2px solid black;
  background-color: black;
  padding: 8px 14px;
}
.burger {
  display: none;
  border: 1.5px solid black;
}
.burger div {
  width: 20px;
  height: 3px;
  background-color: black;
  margin: 4px;
  transition: all 0.3s ease;
}

.design1 {
  display: none;
}
/* ----------------------------------------------------------- */


/* -----------------------home------------------------------ */
#home{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
   background-color:  hsl(270, 9%, 17%);
  
}
#home .photo2 img {
  display: none;
 }

#home .heading{
  display: flex;
  flex-direction: column;
  
}
#home .photo img{

 margin-top: 50px;
  padding-top: 0px;
  height: 450px;
  max-width: 100%;
  padding-bottom: -50px;
  margin-bottom: -120px;

  
}
.heading h1 {
  font-family: 'DM Serif Display', serif;
  font-size: 50px;
  color: white;
  font-weight: lighter;
}
.heading p {
  font-family: 'DM Serif Display', serif;
  font-family: 'Karla', sans-serif;
  color: white;
  padding-top: 10px;
  padding-bottom: 20px;
}
.heading .btn {
  font-family: 'DM Serif Display', serif;
  font-family: 'Karla', sans-serif;
  font-weight:400;
  width: 20%;
  padding: 5px 15px;
  color: white;
  border: 1px solid rgb(252, 250, 250);
  background-color: hsl(270, 9%, 17%);
  cursor: pointer;
}

.heading .btn:hover {
  background-color: white;
 color: black;
 font-weight: 400;
}
/* #home::before {
  content: "";
 background-color:  hsl(270, 9%, 17%);
 position: absolute;
 height: 55%;
 width: 100%;
 z-index: -1;
} */

/* -------------------------------------------------------------------------------/ */

/* --------------------------------body----------------------------------- */

#body {
  display: flex;
  flex-direction: column;
  margin: auto;
  flex-wrap: wrap;
  
}
#body .b1 {
  display: flex;
  padding-top: 60px;
 ;
  font-family: 'DM Serif Display', serif;
  font-size: 30px;

}
.b1 h1 {
  text-align: center;
  width: 40%;
}

  .b2  {
   display: flex;
   margin: auto;
    width: 100%;
   justify-content: space-evenly;
   padding-top: 50px;
   padding-bottom: 50px;
  }

  .b2 .c {
  width: 20%;
  justify-content: space-evenly;
  padding: 23px;
  }
 .b2 .c img {
  padding: 3px;
}
.b2 .c  .bold {
  padding: 10px 0px;
  font-family: 'DM Serif Display', serif;

}
.b2 .c  .content {
  padding: 10px 0px;
  font-family: 'DM Serif Display', serif;
  font-family: 'Karla', sans-serif;
  font-size: 15px;
  color: rgb(112, 110, 110);
  

}

/* ------------------------------------container------------------------------ */
.container {
  display: flex;
  justify-content: space-evenly;
  background-color:  hsl(270, 9%, 17%);
  width: 80%;
  margin: auto;

  
} 

.container  h1 {
  font-family: 'DM Serif Display', serif;
  font-size: 50px;
  color: white;
  font-weight: lighter;
  padding: 20px;
}
.container .bt {
  align-self: center;
   background-color:  hsl(270, 9%, 17%);
  

}
.container button {
  border: 2px solid rgb(252, 249, 249);
  padding: 10px 40px;
  font-family: 'DM Serif Display', serif;
  font-family: 'Karla', sans-serif;
  font-weight:400;
  background-color:  hsl(270, 9%, 17%);
  color: white;
  cursor: pointer;
}
.container button:hover {
  background-color: white;
 color: black;
 font-weight: 400;
}
/* ----------------------------------------------------------------------------- */



/* -----------------------------------footer--------------------------------- */
.fhead {
  display: flex;
  justify-content: space-around;
 margin-top: 70px;
 background-color: hsl(0, 5%, 82%);
 padding: 20px;
 flex-wrap: wrap;
 border-bottom: 2px solid rgb(80, 61, 61);
 border-width: 60%;

}

.fhead  img  {
 cursor: pointer;
 padding-left: 6px;
 padding-right: 6px;
}



/* .fhead   img  :hover{ -----------------------------------------------------> Incomplete
                         -----------------------------------------------------> Incomplete
                         -----------------------------------------------------> Incomplete                       
}                      -----------------------------------------------------> Incomplete */



.foot {
  display: flex;
  margin: auto;
  width: 100%;
  justify-content: space-around;
  background-color: hsl(0, 5%, 82%);
  padding: 0px 80px;
  flex-wrap: wrap;
 
 
}
.foot .cont {
 
  width: 20%;
  height: 200px;
  padding: 10px;
  color: rgb(117, 113, 113);
  font-family: 'DM Serif Display', serif;
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
 
}

.foot .cont ul li{
  color: black;
  text-decoration: none;
  list-style: none;
  padding: 10px;
  
}
.foot .cont  a {
  color: black;
  text-decoration: none;
  font-size: 12px;
}
.foot  a:hover {
  color: black;
  text-decoration: none;
  font-size: 12px;
  text-decoration: underline;
}



/* ---------------------------------media-query---------------------------------- */


@media screen and (max-width: 1400px) {
  .navlinks {
    display: flex;
    justify-content: space-around;
    width: 50%;
    
  }
 
}

@media screen and (max-width : 720px){

  body {
 overflow-x: hidden;
 }
  .navlinks {
   position: absolute;
   right: 0px;
   height: 92vh;
   top: 8vh;
   background-color: hsl(23, 37%, 11%);
  display: flex;
  flex-direction: column;
  align-items: center;
   width: 100%;
   transform: translateX(100%);
   transition: transform 0.5s ease-in;    
 }
 
 .navlinks li {
   opacity: 0;
   /* padding-top: 10px; */
 

 }
 .navlinks li a {
   color: white;
   font-size: 15px;

 }
 #vplan1 a {
   color: white;
   font-size: 17px;
   border-color: white;
   padding: 15px 60px;
  

 }
 .burger {
   display: block;
 }


 .design1 {
   display: block;
   overflow-x: hidden;
 }
 #home {
   flex-direction: column-reverse;
   height: 800px;
 }
 #home .heading {
   font-size: 10px;
   padding: 20px;
   text-align: center;
   height: auto
   
 }
 #home .heading .hprimary {
  font-size: 40px;
  padding: 5px;
   
 }
 #home .heading {
   font-size: 15px;
   padding: 20px;
   text-align: center;
   
 }
 #home .btn {
   font-size: 10px;
   padding: 15px;
   width: 60%;
  align-self: center;
  font-size: 15px;
   
 }
 #home .photo img {
  display: none;
 }
 #home .photo2 img {
  display: block;
  width: 100%;
  height: 100%;
  
 }
 

.b1 h1 {
  text-align: center;
  width: 100%;
}
 .b2  {
   width: 100%;
   flex-direction: column;
   margin: auto;
 }
 .b2 .c {
   width: 80%;
   margin: auto;
   justify-content: center;
   text-align: center;
 }
 .container {
   flex-direction: column;
   height: auto;
   width: 90%;
 }
 .container h1 {
   font-size: 40px;
   text-align: center;
   padding: 20px;
 }
 .container .bt {
   padding: 20px;
   margin-bottom: 20px;
  
 }
.foot {
 
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
 
}
.foot .cont {
  flex-direction: column;
  width: 100%;
  text-align: center;
}
.foot .cont li {
font-size: 5px;
}

}
.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px,5.5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px,-5.5px);
}



/* -----------------home-------------------- */
